

<h1>{{database.name}}</h1>
<h1>{{database.surName}}</h1>
<h1>{{database.birtDay}}</h1>
<div>

</div>
<div>
</div>

<div class="form">

  <div class="input">
    <input type="text" [(ngModel)]="input">
    <button (click)="onAdd(input)">Add</button>
  </div>

  <div *ngIf="error">error</div>

  <div class="title" *ngFor="let data of database.data">
    <label>
      <input type="checkbox" [(ngModel)]="data.completed" >
      {{data.title}}
    </label>
    <button (click)="onDelete(data.id)">X</button>

  </div>

  <div>
    completed {{gg()}} /  {{database.data.length}}
  </div>

</div>

